<form method="post" action="~/Files/Find">
    <label>Имя файла (вводится целиком):</label><br />
    <input type="text" name="filename" /><br />

    <input type="submit" value="Отправить" />
</form>